<div class="col-xs-3 outer-div">
  <div class="col-xs-12 inner-div-left-one">
    <h1>Mail info</h1>

    </div>

  <div class="col-xs-12 inner-div-left">
    <h1>Google info</h1>

  </div>
</div>
<div class="col-xs-6 outer-div">
  <div class="col-xs-12 outer-div-center-top">
    <h1>Aantal gebruiker nu online</h1>
    <p class="large-text">{{amountOfUsersOnline}}</p>
    <div class="doughnut-div">
      <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [options]="doughnutChartOptions" [chartType]="doughnutChartType"
        [colors]="doughnutChartColors" height="130vh">
      </canvas>
    </div>
  </div>
  <div class="col-xs-12 outer-div-center-bottom">
    <h1>Verdeling categorieën in %
      <small>
        ({{currentDate}})
      </small>
    </h1>
    <div class="graph-div">
      <canvas baseChart [datasets]="barChartDataCategories" [labels]="barChartLabelsCategories" [options]="barChartOptionsCategories"
        [legend]="barChartLegend" [chartType]="barChartType" [colors]="barChartColorsCategories" height="475vh">
      </canvas>
    </div>
  </div>
</div>
<div class="col-xs-3 outer-div">
  <div class="col-xs-12 inner-div-header">
    <h1>Statistieken vandaag</h1>
  </div>
  <div class="col-xs-12 inner-div">
    <img class="img-responsive img-sizes" src="../../../assets/img/logo.svg" />
    <p>{{amountOfAppointments | number}}</p>
    <small>
      <p>afspraken aangemaakt</p>
    </small>
  </div>
  <div class="col-xs-12 inner-div-right">
    <img class="img-responsive img-sizes-large" src="../../../assets/img/users.svg" />
    <p>{{amountOfUsers | number}}</p>
    <small>
      <p>unieke gebruikers</p>
    </small>
  </div>
  <div class="col-xs-12 inner-div-right">
    <img class="img-responsive img-sizes-large" src="../../../assets/img/availability.svg" />
    <p>{{amountResponded | number}}</p>
    <small>
      <p>mensen hebben hun beschikbaarheid opgegeven</p>
    </small>
  </div>
  <div class="col-xs-12 inner-div-right">
    <img class="img-responsive img-sizes-mail" src="../../../assets/img/msg.svg" />
    <p>{{sendEmails | number}}</p>
    <small>
      <p>e-mails verstuurd</p>
    </small>
  </div>
</div>