<!--<button class="btn btn-primary" (click)="changeScreen()">Change screen </button>-->
<app-overview [@easeInOut] *ngIf="overview === true"></app-overview>
<app-overview-more-info [@easeInOut] *ngIf="overviewMoreInfo === true"></app-overview-more-info>

