/* You can add global styles to this file, and also import other style files */
h1 {
    font-family: "Circular Pro Medium";
    color: #777777;
    text-align: center;
}

p {
    font-family: "Circular Pro Medium";
    font-size: 4em;
    color: #303030;
    text-align: center;
}

small p{
    font-family: "Circular Pro Medium";
    font-size: 2em;
    color: #666666;
    text-align: center;
}

ul {
    list-style-type: none;
  }

.paddingTopSmall {
    padding-top: 15px;
}

.noMarginBottom {
    margin-bottom: 0;
}

.noPaddingLeft {
    padding-left: 0;
}

.positive {
    color: #47D074;
    font-size: 3em;
}

.negative {
    color: #E64A4A;
    font-size: 3em;
}

.red-text {
    font-family: "Circular Pro Medium";
    font-size: 2em;
    color: #E64A4A;
    text-align: center;
}
.xx-small-text {
    font-family: "Circular Pro Book";
    font-size: 1.2em;    
    color: #777777;
    text-align: left;
}

.x-small-text {
    font-family: "Circular Pro Book";
    font-size: 1.5em;    
    color: #777777;
    text-align: center;
}

.small-text {
    font-family: "Circular Pro Medium";
    font-size: 2em;    
    color: #777777;
    text-align: left;
}

.medium-text {
    font-family: "Circular Pro Medium";
    font-size: 3em;    
    color: #777777;
    text-align: center;
}

.large-text {
    font-family: "Circular Pro Medium";
    font-size: 4em;    
    color: #303030;
    text-align: center;
}

.dark {
    color: #303030;
}

.outer-div {
    height: 100vh;
}
.outer-div-center-top {
    border-left: 6px solid #e7e7e7;
    border-bottom: 6px solid #e7e7e7;
    border-right: 6px solid #e7e7e7;
    height: 50vh;    
}
.outer-div-center-bottom {
    border-left: 6px solid #e7e7e7;
    border-right: 6px solid #e7e7e7;
    height: 50vh;      
}

.inner-div-header {
    height: 10vh;
}

.inner-div { 
    height: 20vh;
}

.inner-div-left-one {
    border-top: 3px solid #e7e7e7; 
    height: 25vh;
}

.inner-div-left {
    border-top: 3px solid #e7e7e7; 
    height: 55vh;
}

.inner-div-right {
    padding-top: 30px;
    border-top: 3px solid #e7e7e7; 
    height: 23vh;
}

.img-sizes {
    max-width: 22%;
    height: auto;
    display: block;
    margin:auto;
}

.img-sizes-large {
    max-width: 50%;
    height: auto;
    display: block;
    margin:auto;
}

.img-sizes-mail {
    max-width: 35%;
    height: auto;
    display: block;
    margin:auto;
}
