<div class="col-xs-3 outer-div">
  <div class="col-xs-12 inner-div-left-one">
    <h1>{{appUsersLabel}}</h1>
    <div class="graph-div">
      <canvas baseChart [datasets]="barChartDataUsers" [labels]="barChartLabelsUsers" [options]="barChartOptions" [legend]="barChartLegend"
        [colors]="barChartColorsUsers" [chartType]="barChartType" height="475vh">
      </canvas>
    </div>
  </div>
  <div class="col-xs-12 inner-div-left">
    <h1>{{categoriesLabel}}</h1>
    <div class="graph-div">
      <canvas baseChart [datasets]="barChartDataCategories" [labels]="barChartLabelsCategories" [options]="barChartOptionsCategories" [legend]="barChartLegend"
        [colors]="barChartColorsCategories" [chartType]="barChartType" height="475vh">
      </canvas>
    </div>
  </div>
</div>
<div class="col-xs-6 outer-div">
  <div class="col-xs-12 outer-div-center-top">
    <h1>{{amountOfUsersOnlineLabel}}</h1>
    <p class="large-text">{{amountOfUsersOnline}}</p>
    <div class="doughnut-div">
      <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [options]="doughnutChartOptions" [chartType]="doughnutChartType"
        [colors]="doughnutChartColors" height="120vh">
      </canvas>
    </div>
  </div>
  <div class="col-xs-12 outer-div-center-bottom">
    <h1>{{totalEventsLabel}}</h1>
    <div class="graph-div">
      <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [legend]="lineChartLegend"
        [colors]="lineChartColors" [chartType]="lineChartType" height="165vh">
      </canvas>
    </div>
  </div>
</div>
<div class="col-xs-3 outer-div">
  <div class="col-xs-12 inner-div-header">
    <h1>{{statsTodayLabel}}</h1>
  </div>
  <div class="col-xs-12 inner-div">
    <img class="img-responsive img-sizes" src="../../../assets/img/logo.svg" />
    <p>{{amountOfAppointments | number}}</p>
    <small>
      <p>{{amountOfAppointmentsLabel}}</p>
    </small>
  </div>
  <div class="col-xs-12 inner-div-right">
    <img class="img-responsive img-sizes-large" src="../../../assets/img/users.svg" />
    <p>{{amountOfUsers | number}}</p>
    <small>
      <p>{{amountOfUsersLabel}}</p>
    </small>
  </div>
  <div class="col-xs-12 inner-div-right">
    <img class="img-responsive img-sizes" src="../../../assets/img/invitations.svg" />
    <p>{{amountOfInvitedUsers | number}}</p>
    <small>
      <p>{{amountOfInvitedUsersLabel}}</p>
    </small>
  </div>
  <div class="col-xs-12 inner-div-right">
    <img class="img-responsive img-sizes" src="../../../assets/img/dates.svg" />
    <p>{{amountOfProposedDates | number}}</p>
    <small>
      <p>{{amountOfProposedDatesLabel}}</p>
    </small>
  </div>
</div>